/* здесь используйте глобальные переменные */


/* font-size */
$fz-12: 12px;
$fz-14: 14px;
$fz-16: 16px;
$fz-18: 18px;
$fz-20: 20px;
$fz-24: 24px;
$fz-30: 30px;
$fz-36: 36px;
$fz-60: 60px;


/* line-height */
$lh-12: 12px;
$lh-14: 14px;
$lh-16: 16px;
$lh-18: 18px;
$lh-20: 20px;
$lh-24: 24px;
$lh-26: 26px;
$lh-30: 30px;
$lh-36: 36px;
$lh-37: 37px;
$lh-40: 40px;
$lh-60: 60px;


/* text-color */
$primary-color-text: #444444;
$secondary-text: #ffffff;
$secondary-dark-text: #000000;
$secondary-light-text: #111111;
$secondary-lighter-text: #222222;


/* bg-color */
$bg-primary: #ffffff;
$bg-basic-green: #68b738;
$bg-opacity-green: rgba(104, 183, 56, 0.85);
$bg-secondary-dark: #eaeaea;
$bg-secondary-light: #f2f2f2;


/* font-weight */
$fw-regular: 400;


/* font-family */
$font-lato: "Lato", sans-serif;
$font-oswald: "Oswald", sans-serif;
