/* здесь используйте глобальные переменные */


/* font-size */
$fz-12: 12px;
$fz-14: 14px;
$fz-16: 16px;
$fz-24: 24px;
$fz-36: 36px;

/* line-height */

$lh-12: 12px;
$lh-14: 14px;
$lh-16: 16px;
$lh-18: 18px;
$lh-20: 20px;
$lh-24: 24px;
$lh-26: 26px;
$lh-36: 36px;
$lh-37: 37px;
$lh-40: 40px;



/* text-color */

$base-color-text: #444444;


/* bg-color */

$bg-basic-green: #68b738;

/* font-weight */

$fw-regular: 400;

/* font-family */

$font-lato: "Lato", sans-serif;
$font-oswald: "Oswald", sans-serif;