/* здесь используйте глобальные переменные */


/* font-size */
$fz-12: 12px;
$fz-14: 14px;
$fz-16: 16px;
$fz-24: 24px;
$fz-36: 36px;

/* line-height */

/* text-color */

$base-color-text: #444444;


/* bg-color */

$bg-basic-green: #68b738;