/* GLOBAL */
@import "./global/visually-hidden";
@import "./global/mixins";
@import "./global/fonts";
@import "./global/variables";
@import "./global/global";

/* BLOCKS */
@import "./blocks/main-container.scss";
@import "./blocks/buttons";
@import "./blocks/logo";
@import "./blocks/page-header";
@import "./blocks/suite-list";
@import "./blocks/main-location";
@import "./blocks/main-banner";
@import "./blocks/main-services";
@import "./blocks/main-advantages";
@import "./blocks/living-example";
@import "./blocks/product-card";
@import "./blocks/additional-products";
@import "./blocks/program-filter";
@import "./blocks/program";
@import "./blocks/main-footer";
