.additional-products {
  padding-top: 36;
  padding-bottom: 36px;
  overflow-x: hidden;

  @media screen and (min-width: 768px) {
    padding-top: 38px;
    padding-bottom: 44px;
  }
}

.additional-products__wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    row-gap: 70px;
  }

  @media screen and (min-width: 1440px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.additional-products__description-list {
  @include list-reset;

  @media screen and (min-width: 1440px) {
    max-width: 895px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
  }
}


.additional-products__description-element {
  padding: 13px 0 13px 0;
  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }

  @media screen and (min-width: 768px) {
    padding: 26px 38px 28px 38px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }

  @media screen and (min-width: 1440px) {
    padding: 15px 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
  }
}

.additional-products__description-inner {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 20px;
  }
}

.additional-products__description-title {
  margin-top: 0;
  color: $secondary-lighter-text;
  font-size: $fz-16;
  font-weight: $fw-regular;
  line-height: $lh-16;
  text-transform: uppercase;

  @media screen and (min-width: 1440px) {
    width: 161px;
    margin-bottom: 0;
    margin-right: auto;
  }
}

.additional-products__description-item {
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    margin-top: 0;
    margin-bottom: 0;
    column-gap: 55px;
  }

  @media screen and (min-width: 1440px) {
    min-width: 284px;
    column-gap: 0;
  }
}

.additional-products__description-weight {
  margin: 0;
  margin-right: auto;
  color: $primary-color-text;
  font-family: $font-lato;
  font-size: $fz-14;
  font-weight: $fw-regular;
  line-height: $lh-14;
}

.additional-products__description-price {
  margin: 0;
  color: $primary-color-text;
  font-family: $font-lato;
  font-size: $fz-14;
  font-weight: $fw-regular;
  line-height: $lh-14;
}

.additional-products__link {
  @include link-reset;
  display: block;
  max-width: 100%;
  height: auto;
  margin: 17px auto 0 auto;
  padding: 10px;
  background-color: $bg-basic-green;
  color: $secondary-text;
  text-align: center;
  font-size: $fz-16;
  font-weight: $fw-regular;
  line-height: $lh-20;
  text-transform: uppercase;

  @media screen and (min-width: 1440px) {
    max-width: 244px;
    margin: 0 0 0 40px;
    padding: 10px 91px;
  }
}

.additional-products__present {
  min-height: 290px;
  height: auto;

  @media (min-resolution: 1dppx) {
    background-image: linear-gradient($bg-opacity-green, $bg-opacity-green), url("../../images/bg-additional-products-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #d3d3d3;
    width: 100%;
    min-height: 290px;
  }

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient($bg-opacity-green, $bg-opacity-green), url("../../images/bg-additional-products-mobile@2x.jpg");
  }

  @media screen and (min-width: 768px) and (min-resolution: 1dppx) {
    background-size: cover;
    background-image: linear-gradient($bg-opacity-green, $bg-opacity-green), url("../../images/bg-additional-products-tablet@1x.png");
    min-height: 200px;
  }

  @media screen and (min-width: 768px) and (min-resolution: 2dppx) {
    background-size: cover;
    background-image: linear-gradient($bg-opacity-green, $bg-opacity-green), url("../../images/bg-additional-products-tablet@2x.png");
    min-height: 200px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 245px;
    min-height: 288px;
    background-image: linear-gradient($bg-opacity-green, $bg-opacity-green), url("../../images/bg-additional-products-mobile@1x.jpg");
  }
}

.additional-products__present-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 290px;

  @media screen and (min-width: 768px) {
    min-width: 100%;
    min-height: 200px;
    justify-content: space-between;
    padding: 60px 125px 60px 77px;
  }

  @media screen and (min-width: 1440px) {
    flex-direction: column;
    row-gap: 46px;
    padding: 59px 42px 43px 42px;
  }
}

.additional-products__text {
  position: relative;
  max-width: 161px;
  min-height: 60px;
  padding-top: 126px;
  padding-bottom: 44px;
  margin: auto auto 0 auto;
  color: $secondary-text;
  text-align: center;
  font-family: $font-lato;
  font-size: $fz-16;
  font-weight: $fw-regular;
  line-height: $lh-20;

  @media screen and (min-width: 768px) {
    max-width: 161px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    text-align: left;
  }

  @media screen and (min-width: 1440px) {
    text-align: center;
  }
}

.additional-products__present-wrapper--gift {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 100px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../../images/icons/stack.svg#present");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 78px 80px;
    width: 78px;
    height: 80px;
  }

  @media screen and (min-width: 768px) {
    &::before {
      position: static;
      display: block;
      transform: translate(0, 0);
    }
  }
}
