.additional-products {}

.additional-products__section-title {
  position: relative;
  color: $secondary-dark-text;
  font-size: $fz-24;
  font-weight: $fw-regular;
  line-height: $lh-24;

  &::before {
    position: absolute;
    width: 54px;
    height: 2px;
    content: "";
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: $bg-basic-green;
  }

  @media screen and (min-width:768px) {
    max-width: 410px;
    padding-left: 40px;
    margin-bottom: 80px;
    font-size: $fz-36;
    line-height: $lh-36;
    background-color: $bg-primary;

    &::before {
      position: absolute;
      width: 1000%;
      height: 2px;
      content: "";
      left: -1000px;
      right: -1000px;
      top: 65%;
      transform: translateY(-50%);
      background-color: $bg-basic-green;
      z-index: -1;
    }
  }
}

.additional-products__wrapper {}

.additional-products__description-list {
  @include list-reset
}

.additional-products__description-element {
  padding: 13px 0 13px 0;
  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }

  @media screen and (min-width:768px) {
    padding: 26px 38px 28px 38px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }
}

.additional-products__description-inner {
  @media screen and (min-width:768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 20px
  }
}

.additional-products__description-title {
  margin-top: 0;
  color: $secondary-lighter-text;
  font-size: $fz-16;
  font-weight: $fw-regular;
  line-height: $lh-16;
  text-transform: uppercase;

  @media screen and (min-width:768px) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.additional-products__description-item {
  display: flex;
  align-items: center;

  @media screen and (min-width:768px) {
    margin-top: 0;
    margin-bottom: 0;
    column-gap: 55px;
  }
}

.additional-products__description-weight {
  margin: 0;
  margin-right: auto;
  color: $primary-color-text;
  font-family: $font-lato;
  font-size: $fz-14;
  font-weight: $fw-regular;
  line-height: $lh-14;
}

.additional-products__description-price {
  margin: 0;
  color: $primary-color-text;
  font-family: $font-lato;
  font-size: $fz-14;
  font-weight: $fw-regular;
  line-height: $lh-14;
}

.additional-products__link {
  @include link-reset;
  display: block;
  max-width: 100%;
  height: auto;
  margin: 17px auto 0 auto;
  padding: 10px;
  background-color: $bg-basic-green;
  color: $secondary-text;
  text-align: center;
  font-size: $fz-16;
  font-weight: $fw-regular;
  line-height: $lh-20;
  text-transform: uppercase;

  // @media screen and (min-width:768px) {
  //   max-width: 250px;
  //   margin-top: 32px;
  // }

  // @media screen and (min-width:1200px) {
  //   max-width: 170px;
  // }
}

.additional-products__present {}

.additional-products__text {}
