.living-example {
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: $bg-secondary-dark;
  overflow: hidden;
  border-top: 1px solid #e6e6e6;

  @media screen and (min-width: 768px) {
    padding-top: 45px;
    background-color: #ffffff;
  }

  @media screen and (min-width: 1200px) {
    border-top: none;
  }
}

.living-example__wrapper {
  @media screen and (min-width: 1200px) {
    position: relative;
    display: flex;
    column-gap: 224px;

    &::after {
      width: 1000%;
      height: 500px;
      position: absolute;
      content: "";
      left: -10000px;
      right: 0;
      background-color: #eaeaea;
      z-index: 1;
    }
  }
}

.living-example__inner {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.living-example__content {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 270px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 366px;
    align-items: start;
    flex-direction: column;
    row-gap: 55px;
    padding-bottom: 70px;
  }
}

.living-example__title {
  margin-top: 0;
  margin-bottom: 40px;
  color: $secondary-dark-text;
  font-size: $fz-36;
  font-weight: $fw-regular;
  line-height: $lh-40;

  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }
}

.living-example__text {
  margin-top: 0;
  margin-bottom: 20px;
  color: $primary-color-text;
  font-family: $font-lato;
  font-size: $fz-14;
  font-weight: $fw-regular;
  line-height: $lh-18;

  @media screen and (min-width: 768px) {
    margin-bottom: 55px;
    max-width: 708px;
    font-size: $fz-16;
    line-height: $lh-24;
  }

  @media screen and (min-width: 1200px) {
    max-width: 433px;
    margin-top: 70px;
  }
}

.living-example__list {
  @include list-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 32px;

  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
    column-gap: 42px;
  }
}

.living-example__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 20px 15px 20px;
  min-width: 124px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    min-width: 162px;
    padding: 15px 30px 25px 30px;
  }
}

.living-example__paste-text {
  color: $secondary-dark-text;
  text-align: center;
  font-size: $fz-24;
  font-weight: $fw-regular;
  line-height: $lh-24;
  text-transform: uppercase;
}

.living-example__decline-text {
  position: absolute;
  bottom: -15px;
  left: 20px;
  right: 0;
  background-color: #eaeaea;
  color: $primary-color-text;
  text-align: center;
  font-family: $font-lato;
  font-size: $fz-12;
  font-weight: $fw-regular;
  line-height: $lh-12;
  width: 80px;
  height: auto;

  @media screen and (min-width: 768px) {
    bottom: -6px;
    background-color: #ffffff;
    width: 125px;
  }

  @media screen and (min-width: 1200px) {
    background-color: #eaeaea;
  }
}

.living-example__expenses-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  column-gap: 8px;
  color: $secondary-dark-text;
  text-align: center;
  font-size: 14px;
  font-weight: $fw-regular;
  line-height: 20px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    margin-top: 0;
    flex-direction: column;
    align-items: flex-end;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.living-example-slider {
  position: relative;
  margin-top: 20px;
  width: 280px;
  height: 320px;

  &::before {
    position: absolute;
    content: "";
    left: 145px;
    top: 20px;
    bottom: 0;
    width: 3px;
    height: 90%;
    background-color: #666666;
    z-index: 7;
  }

  @media screen and (min-width: 768px) {
    min-width: 560px;
    min-height: 512px;
  }

  @media screen and (min-width: 768px) {
    min-height: 345px;

    &::after {
      position: absolute;
      content: "";
      left: -100px;
      right: 0;
      width: 1000%;
      height: 485px;
      background-color: #eaeaea;
      z-index: 1;
    }

    &::before {
      top: -163px;
      left: 415px;
      height: 485px;
    }
  }

  @media screen and (min-width: 1200px) {
    background-color: transparent;

    &::after {
      background-color: transparent;
    }
  }
}

.living-example-slider__image-before {
  position: absolute;
  left: -45px;
  z-index: 5;

  @media screen and (min-width: 768px) {
    top: -185px;
    left: -5px;
  }
}

.living-example-slider__image-after {
  position: absolute;
  right: -64px;
  z-index: 6;

  @media screen and (min-width: 768px) {
    top: -160px;
    left: 290px;
  }
}

.living-example-slider__control {
  position: absolute;
  left: 127px;
  top: 110px;
  border: none;
  background-image: url("../../images/icons/stack.svg#arrows");
  background-color: transparent;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-in-out;
  z-index: 7;

  @media screen and (min-width: 768px) {
    left: 395px;
  }
}
