.living-example {

  background-color: $bg-secondary-dark;
}

.living-example__wrapper {}

.living-example__content {}

.living-example__title {
  color: $secondary-dark-text;
  font-size: $fz-36;
  font-weight: $fw-regular;
  line-height: $lh-40;
}

.living-example__text {
  color: $primary-color-text;
  font-family: $font-lato;
  font-size: $fz-14;
  font-weight: $fw-regular;
  line-height: $lh-18;
}

.living-example__list {
  @include list-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 32px;
}

.living-example__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 124px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  padding: 20px;
}

.living-example__paste-text {
  color: $secondary-dark-text;
  text-align: center;
  font-size: $fz-24;
  font-weight: $fw-regular;
  line-height: $lh-24;
}

.living-example__decline-text {
  position: absolute;
  bottom: -15px;
  background-color: #eaeaea;
  color: $primary-color-text;
  text-align: center;
  font-family: $font-lato;
  font-size: $fz-12;
  font-weight: $fw-regular;
  line-height: $lh-12;
  min-width: 85px;
}

.living-example__expenses-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  column-gap: 8px;
  color: $secondary-dark-text;
  text-align: center;
  font-size: 14px;
  font-weight: $fw-regular;
  line-height: 20px;
  text-transform: uppercase;
}

.living-example__expenses-text {}

.living-example__expenses-sum {}

.living-example-slider {
  position: relative;
  min-height: 300px;

  &::before {
    position: absolute;
    content: "";
    left: 145px;
    top: 0;
    bottom: 0;
    width: 3px;
    height: 90%;
    background-color: #666666;
    z-index: 3;
  }

}

.living-example-slider__image-before {
  position: absolute;
  left: -45px;
  z-index: 1;
}

.living-example-slider__image-after {
  position: absolute;
  right: -64px;
  z-index: 2;
}

.living-example-slider__control {
  position: absolute;
  left: 127px;
  top: 110px;
  border: none;
  background-image: url("../../images/icons/stack.svg#arrows");
  background-color: transparent;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-in-out;
  z-index: 3;
}
