.page-header__logo {
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.page-header__logo-text-link {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
