.page-header__logo {
  @media screen and (min-width:320px) {
    width: 33px;
    height: 38px;
  }
}

.logo {
  display: flex;
  align-items: center;

  &:hover {}
}

.logo__image {}

.logo__image--icon {}

.page-header__logo-text-image--text {
  @media screen and (min-width:320px) {
    display: block;
  }
}
