.main-services {}

.main-services__list {
  @include list-reset
}

.main-services__item {}

.main-services__inner {
  position: relative;
}

.main-services__inner--icon-weight {
  @media screen and (min-width:576px) {
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: -10px;
      display: block;
      background-image: url("../../images/icons/stack.svg#services-1");
      background-repeat: no-repeat;
      background-position: center;
      width: 50px;
      height: 53px;
    }
  }
}

.main-services__title {
  padding-left: 70px;
}

.main-services__text {}

.main-services__link {}


.main-services__inner--icon-gain {
  @media screen and (min-width:576px) {
    &::before {
      position: absolute;
      content: "";
      left: -10px;
      top: -10px;
      display: block;
      background-image: url("../../images/icons/stack.svg#services-2");
      background-repeat: no-repeat;
      background-position: center;
      width: 67px;
      height: 50px;
    }
  }
}
