.main-services {}

.main-services__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  column-gap: 80px;
  @media screen and (min-width:1200px) {
    flex-direction: row;
  }
}

.main-services__item {
  padding: 30px 20px 18px 33px;
  width: 100%;
  min-width: 280px;
  max-width: 708px;
  height: auto;
  background: $bg-secondary-light;
}

.main-services__inner {
  position: relative;
}

.main-services__title {
  padding-left: 70px;
  color: $secondary-dark-text;
  font-size: $fz-24;
  font-weight: $fw-regular;
  line-height: $lh-37;
  text-transform: uppercase;

  @media screen and (min-width:768px)  {
    padding-left: 0;
    font-size: $fz-36;
    line-height: $lh-36;
  }
}

.main-services__text {
  min-width: 227px;
  max-width: 335px;
  color: $primary-color-text;
  font-family: $font-lato;
  font-size: $fz-14;
  font-weight: $fw-regular;
  line-height: $lh-18;

  @media screen and (min-width:768px)  {
    padding-left: 0;
    font-size: $fz-16;
    line-height: $lh-24;
  }
}

.main-services__decor-link {
  width: 100%;
  min-height: 50px;
  border-top: 1px solid #d9d9d9;

  @media screen and (min-width:768px)  {
    border: none;
  }

}

.main-services__link {
  @include link-reset;
  position: relative;
  display: inline-block;
  margin-top: auto;
  padding-top: 15px;
  padding-right: 47px;
  padding-bottom: 15px;
  color: $secondary-dark-text;
  text-align: left;
  font-size: $fz-16;
  font-weight: $fw-regular;
  line-height: $lh-16;
  text-transform: uppercase;

  &::before {
    display: block;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;

    @media screen and (min-width:768px) {
      display: none;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 18px;
    right: 0;
    display: block;
    background-image: url("../../images/icons/stack.svg#icon-arrow");
    background-repeat: no-repeat;
    background-size: 32px 10px;
    width: 32px;
    height: 10px;
  }

  @media screen and (min-width:768px)  {
    font-size: $fz-20;
  }
}

.main-services__inner--icon-weight {
  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: -20px;
    display: block;
    background-image: url("../../images/icons/stack.svg#services-1");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 53px;
    width: 50px;
    height: 53px;

    @media screen and (min-width:768px)  {
      top: -10px;
      left: 395px;
      background-size: 200px 211px;
      width: 200px;
      height: 211px;
    }
  }
}

.main-services__inner--icon-gain {
  &::before {
    display: block;
    position: absolute;
    content: "";
    left: -10px;
    top: -10px;
    background-image: url("../../images/icons/stack.svg#services-2");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 67px 50px;
    width: 67px;
    height: 50px;

    @media screen and (min-width:768px)  {
      left: 350px;
      top: -20px;
      background-size: 268px 200px;
      width: 268px;
      height: 200px;
    }
  }
}
