.main-banner {
  position: relative;
  min-height: 400px;

  @media screen and (min-width:768px) {
    min-height: 776px;
  }

  @media screen and (min-width:1200px) {
    min-height: 776px;
  }

}

.main-banner--bg {
  background-image: linear-gradient($bg-opacity-green, $bg-opacity-green),
    url("../../images/main-banner-bg-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 302px;

  @media screen and (min-resolution: 2dppx) {
    background-image: linear-gradient($bg-opacity-green, $bg-opacity-green),
      url("../../images/main-banner-bg-mobile@2x.png");
  }

  @media (min-width:768px) {
    background-image: none;
  }

  @media screen and (min-width:1200px) {
    background-image: linear-gradient($bg-opacity-green, $bg-opacity-green),
      url("../../images/main-banner-bg-desktop@1x.png");
    background-size: 720px 694px;
    background-position: top right;
  }
}

.main-banner__wrapper {
  position: relative;
  min-height: 490px;
  padding-top: 27px;
  display: flex;
  flex-direction: column;
  color: $secondary-text;
  z-index: 4;

  @media screen and (min-width:768px) {
    min-height: 900px;
    padding-left: 50px;
    padding-top: 65px;
  }

  @media screen and (min-width:1200px) {
    padding-left: 55px;
    padding-top: 224px;
    min-height: 800px;
  }
}

.main-banner__title {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  color: $secondary-text;
  font-size: $fz-36;
  font-weight: $fw-regular;
  line-height: $lh-36;

  @media screen and (min-width:768px) {
    margin-bottom: 40px;
    max-width: 420px;
    color: $secondary-dark-text;
    font-size: $fz-60;
    line-height: $lh-60;
    text-align: left;
  }
}

.main-banner__text {
  margin-top: 0;
  margin-bottom: 29px;
  color: $secondary-text;
  font-size: $fz-14;
  font-weight: $fw-regular;
  line-height: $lh-14;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width:768px) {
    margin-bottom: 0;
    max-width: 420px;
    color: $secondary-dark-text;
    font-size: $fz-20;
    line-height: $lh-20;
    text-align: left;
    text-transform: uppercase;
  }

}

.main-banner__images {
  display: block;
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;

  @media (min-width:768px) {
    top: 260px;
    left: -45px;
  }

  @media (min-width:1200px) {
    top: 63px;
    left: 251px;
    width: 609px;
    height: 709px;
  }
}

.main-banner__link {
  @include link-reset;
  display: inline-block;
  padding: 10px 64px;
  margin: auto auto 20px auto;
  min-width: 280px;
  max-width: 100%;
  color: $secondary-text;
  text-align: center;
  font-size: $fz-16;
  font-weight: $fw-regular;
  line-height: $lh-20;
  text-align: center;
  text-transform: uppercase;
  background-color: $bg-basic-green;

  @media screen and (min-width:768px) {
    margin: 50px 0 20px 0;
    padding: 14px 26px;
    min-width: 244px;
    max-width: 244px;
  }
}
