.main-location {
  background-color: $bg-primary;
}

.main-location__wrapper {
  padding: 26px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;

}

.main-location__title {
  margin-top: 0;
  max-width: 118px;
  color: $secondary-light-text;
  font-size: $fz-16;
  font-weight: $fw-regular;
  line-height: $lh-20;
  text-transform: uppercase;
  @media screen and (min-width:768px) {
    max-width: 163px;
    font-size: $fz-20;
    line-height: $lh-26;
  }
}

.main-location__inner {
  max-width: 165px;
  @media screen and (min-width:768px) {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}

.main-location__text {
  margin: 0;
  color: $primary-color-text;
  font-family: $font-lato;
  font-size: $fz-14;
  font-weight: $fw-regular;
  line-height: $lh-20;


}

.map {}
