.main-advantages {
  padding-top: 20px;
  padding-bottom: 25px;

  @media screen and (min-width:768px) {
    padding-top: 45px;
  }
}

.main-advantages__section-title {
  margin-top: 0;
  color: $secondary-dark-text;
  font-size: $fz-36;
  font-weight: $fw-regular;
  line-height: $lh-40;
}

.main-advantages__list {
  @include list-reset;

  @media screen and (min-width:768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 150px;
    row-gap: 140px;
    counter-reset: advantages 0;
  }

  @media screen and (min-width:1200px) {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
    column-gap: 0px;
  }
}

.main-advantages__item {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;

  @media screen and (min-width:768px) {
    flex-direction: column-reverse;
    align-items: start;
    row-gap: 31px;
    padding-left: 0;
    max-width: 230px;
    min-height: 280px;
    height: auto;
    counter-increment: advantages;

    &::before {
      position: absolute;
      content: counter(advantages);
      top: 0;
      right: 0;
      color: #f2f2f2;
      text-align: center;
      font-size: 280px;
      line-height: 220px;
      font-weight: $fw-regular;
      z-index: -1;
    }
  }
}

.main-advantages__item--icon-sheet,
.main-advantages__item--icon-powder,
.main-advantages__item--icon-power,
.main-advantages__item--icon-clock {
  &::after {
    position: static;
    content: "";
    left: 0;
    top: 0;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 32px;
    background-color: $bg-basic-green;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
  }
}

.main-advantages__item--icon-sheet {
  &::after {
    background-image: url("../../images/icons/stack.svg#advantages-1");
  }
}

.main-advantages__item--icon-powder {
  &::after {
    background-image: url("../../images/icons/stack.svg#advantages-2");
  }
}

.main-advantages__item--icon-power {
  &::after {
    background-image: url("../../images/icons/stack.svg#advantages-3");
  }
}

.main-advantages__item--icon-clock {
  &::after {
    background-image: url("../../images/icons/stack.svg#advantages-4");
  }
}

.main-advantages__text {
  max-width: 200px;
  color: $primary-color-text;
  font-family: $font-lato;
  font-size: $fz-14;
  font-weight: $fw-regular;
  line-height: $lh-18;

  @media screen and (min-width:768px) {
    font-size: $fz-16;
    line-height: $lh-24;
  }
}

