.main-banner {
  position: relative;
  min-height: 400px;

  &--bg {
    background-image: linear-gradient($bg-opacity-green, $bg-opacity-green), url("../../images/main-banner-bg-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 302px;

    @media screen and (min-resolution: 2dppx) {
      background-image: linear-gradient($bg-opacity-green, $bg-opacity-green), url("../../images/main-banner-bg-mobile@2x.png");
    }

    @media (min-width: 768px) {
      background-image: none;
    }

    @media (min-width: 1440px) {
      padding-bottom: 41px;
    }
  }
}

.main-banner__wrapper {
  position: relative;
  min-height: 490px;
  padding-top: 27px;
  display: flex;
  flex-direction: column;
  color: $secondary-text;
  z-index: 4;

  @media screen and (min-width: 768px) {
    min-height: 846px;
    padding-left: 87px;
    padding-top: 55px;
  }

  @media screen and (min-width: 1440px) {
    padding-left: 78px;
    padding-top: 224px;
    max-width: 494px;
    min-height: 695px;
    z-index: 10;
  }
}

.main-banner__title {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  color: $secondary-text;
  font-size: $fz-36;
  font-weight: $fw-regular;
  line-height: 36;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    max-width: 420px;
    color: $secondary-dark-text;
    font-size: $fz-60;
    line-height: 60;
    text-align: left;
  }
}

.main-banner__text {
  margin-top: 0;
  margin-bottom: 29px;
  color: $secondary-text;
  font-size: $fz-14;
  font-weight: $fw-regular;
  line-height: 14;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    max-width: 420px;
    color: $secondary-dark-text;
    font-size: $fz-20;
    line-height: 20;
    text-align: left;
    text-transform: uppercase;
  }
}

.main-banner__images {
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;

  @media (min-width: 768px) {
    top: 260px;
    left: -45px;
  }

  @media (min-width: 1440px) {
    top: 110px;
    left: 462px;
    width: 552px;
    height: 499px;
  }
}

.main-banner__link {
  @include link-reset;
  display: inline-block;
  padding: 10px 64px;
  margin: auto auto 11px auto;
  min-width: 280px;
  max-width: 100%;
  color: $secondary-text;
  font-size: $fz-16;
  font-weight: $fw-regular;
  line-height: 20;
  text-align: center;
  text-transform: uppercase;
  background-color: $bg-basic-green;

  @media screen and (min-width: 768px) {
    margin: 51px 0 20px 0;
    padding: 18px 26px;
    min-width: 244px;
    max-width: 244px;
    font-size: $fz-20;
  }
}
