.main-footer {
  padding: 40px 0;
  background: $bg-secondary-light;

  @media (min-width: 768px) {
    padding: 55px 0;
  }

  @media (min-width: 1440px) {
    padding: 68px 0;
  }
}

.main-footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.main-footer__logo-text-link {
  display: block;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  min-width: 128px;
  height: 24px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.main-footer__social {
  @include list-reset;
  margin-left: 416px;
  width: 100%;
  margin: 0;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
  text-align: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: 768px) {
    justify-content: flex-start;
    border: none;
    padding: 0;
    margin: 0 0 0 157px;
  }

  @media (min-width: 1440px) {
    margin: 0 0 0 416px;
  }
}

.main-footer__social-link {
  display: block;
  width: 28px;
  height: auto;
}

.main-footer__social-link--vk {
  mask-image: url("../../images/icons/stack.svg#social-vk");
  background-color: #666666;
  transition: all 0.3s ease-in-out;
  width: 28px;
  height: 22px;

  &:hover {
    background-color: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-footer__social-link--youtube {
  mask-image: url("../../images/icons/stack.svg#social-youtube");
  background-color: #666666;
  transition: all 0.3s ease-in-out;
  width: 28px;
  height: 22px;

  &:hover {
    background-color: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-footer__social-link--telegram {
  mask-image: url("../../images/icons/stack.svg#social-telegram");
  background-color: #666666;
  transition: all 0.3s ease-in-out;
  width: 28px;
  height: 22px;

  &:hover {
    background-color: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-footer__logo-academy {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  width: 100%;
  flex-shrink: 0;
  transition: all 0.3s ease-in-out;

  &:hover svg {
    background-color: #68b738;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
    align-items: center;
    width: 162px;
    margin-top: 0;
  }
}

.main-footer__text-svg {
  mask-image: url("../../images/icons/stack.svg#logo-academy");
  background-color: #666666;
  transition: all 0.3s ease-in-out;
  width: 27px;
  height: 34px;
}

.main-footer__text-energy {
  display: block;
  color: $primary-color-text;
  font-family: $font-lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}