.main-advantages {
  padding-top: 20px;
  padding-bottom: 50px;
}

.main-advantages__section-title {
  color: $secondary-dark-text;
  font-size: $fz-36;
  font-weight: $fw-regular;
  line-height: $lh-40;
}

.main-advantages__list {
  @include list-reset
}

.main-advantages__item {
  position: relative;
  padding-left: 80px;
  min-height: 60px;
}

.main-advantages__item--icon-sheet,
.main-advantages__item--icon-powder,
.main-advantages__item--icon-power,
.main-advantages__item--icon-clock {
  &::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 32px;
    background-color: $bg-basic-green;
    width: 60px;
    height: 60px;
  }
}

.main-advantages__item--icon-sheet {
  &::after {
    background-image: url("../../images/icons/stack.svg#advantages-1");
  }
}

.main-advantages__item--icon-powder {
  &::after {
    background-image: url("../../images/icons/stack.svg#advantages-2");
  }
}

.main-advantages__item--icon-power {
  &::after {
    background-image: url("../../images/icons/stack.svg#advantages-3");
  }
}

.main-advantages__item--icon-clock {
  &::after {
    background-image: url("../../images/icons/stack.svg#advantages-4");
  }
}

.main-advantages__text {
  color: $primary-color-text;
  font-family: $font-lato;
  font-size: $fz-14;
  font-weight: $fw-regular;
  line-height: $lh-18;
}
