.page-header {
  padding: 7px 0;
  background-color: $bg-primary;
  border-bottom: 1px solid #d9d9d9;
  z-index: 10;

  @media screen and (min-width:768px) {
    padding: 25px 0 0 0;
    background-color: transparent;
    border-bottom: none;
  }

  @media screen and (min-width:1200px) {
    padding: 55px 0 0 0;
    background-color: transparent;
  }
}

.page-header--absolute {
  @media screen and (min-width:1200px) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
}

.page-header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}

.page-header__item {
  background-color: $bg-primary;
  border-top: 1px solid #e6e6e6;
  color: inherit;

  &:last-child {
    border-bottom: 1px solid #e6e6e6;
  }

  @media screen and (min-width:768px) {
    background-color: transparent;
    border: none;

    &:last-child {
      border: none
    }
  }

}


.page-header__link {
  @include link-reset;
  display: block;
  padding: 18px 16px;
  text-align: center;
  color: inherit;
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }

  @media screen and (min-width:1200px) {
    font-size: $fz-18;

  }


}

.page-header__link--current.page-header__link--current-index {
  @media screen and (min-width:768px) {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: calc(100% - 34px);
      height: 2px;
      top: 48px;
      right: 0;
      left: 17px;
      background-color: $bg-basic-green;

      @media screen and (min-width:1200px) {
        background-color: $bg-secondary-light;
      }
    }
  }
}

.page-header__link--current {
  position: relative;
  @media screen and (min-width:768px) {
    &::before {
      position: absolute;
      content: "";
      width: calc(100% - 34px);
      height: 2px;
      top: 48px;
      right: 0;
      left: 17px;
      background-color: $bg-basic-green;
    }
  }
}

.page-header__toggle.page-header__toggle--close {
  display: block;
  position: relative;
  z-index: 2;
  width: 70px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 17px;
    width: 24px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 8px 0 0#000000, 0 16px 0 0#000000;
  }

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 17px;
    width: 24px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 8px 0 0#000000, 0 16px 0 0#000000;
  }

  @media screen and (min-width:768px) {
    display: none;
  }
}

.page-header__toggle.page-header__toggle--open {
  position: relative;
  display: block;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &::before {
    transform: rotate(-45deg);
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #000000;
  }

  &::after {
    transform: rotate(45deg);
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #000000;
  }
}
