.page-header {
  background-color: $bg-primary;
  z-index: 10;
}

.page-header__nav {
  padding: 7px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}

.page-header__list {}

.page-header__item {
  background-color: $bg-primary;
  border-top: 1px solid #e6e6e6;

  &:last-child {
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width:768px) and (max-width:1200px) {
    border: none;
    &:last-child {
      border: none
    }
  }

}

.page-header__link {
  @include link-reset;
  display: block;
  padding: 18px 25px;
  text-align: center;
}

.page-header__link--current {
  @media (min-width:768px) and (max-width:1200px) {
    position: relative;
    transition: 0.3s ease-in;
    &::before {
      position: absolute;
      content: "";
      width: calc(100% - 50px);
      height: 2px;
      top: 60px;
      right: 0;
      left: 25px;
      background-color: $bg-basic-green;
    }
   }
}



.page-header__toggle.page-header__toggle--close {
  display: block;
  position: relative;
  z-index: 2;
  width: 70px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 17px;
    width: 24px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 8px 0 0#000000, 0 16px 0 0#000000;
  }

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 17px;
    width: 24px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 8px 0 0#000000, 0 16px 0 0#000000;
  }

  @media (min-width:768px) and (max-width:1200px) {
    display: none;
  }
}

.page-header__toggle.page-header__toggle--open {
  position: relative;
  display: block;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &::before {
    transform: rotate(-45deg);
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #000000;
  }

  &::after {
    transform: rotate(45deg);
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #000000;
  }
}
