.page-header {


  @media screen and (min-width:320px) {
    background-color: $bg-primary;
  }

}

.page-header__nav {
  padding: 7px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__list {}

.page-header__item {
  background-color: #ffffff;
  border-top: 1px solid #e6e6e6;
  &:last-child {
    border-bottom: 1px solid #e6e6e6;
  }

}

.page-header__link {
  @include link-reset;

  @media screen and (min-width:320px) {

    display: block;
    padding: 18px 25px;
    text-align: center;
  }
}






.page-header__item--current {}
