.program-filter {}

.program-filter__header {}

.program-filter__title {
  color: $secondary-dark-text;
  font-size: $fz-36;
  font-weight: $fw-regular;
  line-height: $lh-36;

  @media screen and (min-width:768px) {
    font-size: $fz-60;
    line-height: $lh-60;
  }
}

.program-filter__text {
  margin-bottom: 39px;
  color: $secondary-dark-text;
  font-size: $fz-14;
  font-weight: $fw-regular;
  line-height: $lh-18;
  text-transform: uppercase;

  @media screen and (min-width:768px) {
    margin-bottom: 66px;
    font-size: $fz-20;
    line-height: $lh-30;
  }
}

.program {}

.program__cat-wrapper {}

.program__group {
  @include fieldset-reset;
}

.program__legend {}

.program__list {
  @include list-reset;
  padding: 0 20px 0 20px;
}

.program__list-characteristics {
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.program__item {
  display: flex;
  align-items: center;
  column-gap: 13px;
}

.program__item-characteristics {}

.program__label {
  display: flex;
  align-items: center;
  min-height: 30px;
}

.program__label-characteristics {
  max-width: 50%;
  color: $primary-color-text;
  font-family: $font-oswald;
  font-size: $fz-16;
  font-weight: $fw-regular;
  line-height: $lh-18;
  text-transform: uppercase;
  flex-shrink: 0;

  @media screen and (min-width:768px) {
    font-size: $fz-20;
    line-height: $lh-24;
  }
}

.program__input[type="checkbox"],
.program__input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.program__input-characteristics {
  padding: 15px 0 12px 15px;
  width: 100%;
  height: 45px;
  border: 1px solid #e7e7e7;

  &::placeholder {
    color: $primary-color-text;
    font-family: $font-oswald;
    font-size: $fz-16;
    font-weight: $fw-regular;
    line-height: $lh-18;
    text-transform: uppercase;
  }

  @media screen and (min-width:768px) {
    padding: 11px 0 11px 20px;
    height: 52px;

    &::placeholder {
      font-size: $fz-20;
      line-height: $lh-24;
    }

  }
}

.program__list-radio {
  padding-top: 22px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  border-top: 1px solid #d9d9d9d9;
}

.program__item-radio {}

.program__label-radio {}

.program__input-radio:checked + .program-radio::after {
  opacity: 1;
}

.program__input-radio:focus + .program-radio::before {
  outline: 3px solid gold;
}

.program__input-radio:disabled + .program-radio {
  cursor: no-drop;
  opacity: 0.3;
}

.program-text {
  color: $primary-color-text;
  font-family: $font-oswald;
  font-size: $fz-16;
  font-weight: $fw-regular;
  line-height: $lh-18;
  text-transform: uppercase;
}

.program-radio {
  position: relative;
  padding-left: 45px;
  display: inline-block;

  &::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    top: -5px;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    opacity: 0;
    border-radius: 50%;
    top: 3.5px;
    left: 8.5px;
    width: 13px;
    height: 13px;
    background-color: $bg-basic-green;
    transition: all 0.3s ease-in-out;
  }
}

.catalog__filter-input:checked + .catalog__filter-radio::after {
  opacity: 1;
}

.program__owner-group {
  @include fieldset-reset;

}

.program__owner-legend {
  padding-top: 26px;
}

.program__owner-list {}

.program__owner-item {}

.program__owner-label {}

.program__owner-input {}

.program__comment-group {
  @include fieldset-reset;
}

.program__comment-legend {}

.program__additionally-group {
  @include fieldset-reset;
}

.program__additionally-legend {}

.program__additionally-list {}

.program__additionally-item {}

.program__additionally-label {}

.program__additionally-input {}

.program-checkbox {}

.program__button-wrapper {}

.program__button {}

.program__button--submit {}

.program__text {}
