.secondary-title {
  display: flex;
  gap: 20px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 35px;

  &::before {
    content: "";
    height: 15px;
    width: calc(50% - 171px);
    border-bottom: 2px solid #68b738;
  }

  &::after {
    content: "";
    height: 15px;
    width: 160px;
    border-bottom: 2px solid #68b738;
    flex-grow: 1;
  }

  @media (min-width: 768px) {
    width: 34px;
    gap: 40px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 57px;

    &::before {
      height: 22px;
      width: calc(50% - 354px);
    }

    &::after {
      width: 142px;
      height: 22px;
    }
  }


  @media screen and (min-width: 1440px) {
    &::before {
      width: calc(50% - 650px);
    }
  }
}

.secondary-title__text {
  max-width: max-content;
  color: $secondary-dark-text;
  font-size: $fz-24;
  font-weight: $fw-regular;
  line-height: $lh-24;

  @media (min-width: 768px) {
    margin-bottom: 23px;
    font-size: $fz-36;
    line-height: $lh-36;
  }
}