.secondary-title {
  position: relative;
  display: flex;
  gap: 30px;
  color: $secondary-dark-text;
  font-family: $font-oswald;
  font-size: $fz-24;
  font-weight: $fw-regular;
  line-height: $lh-26;
  width: fit-content;
  background-color: $secondary-text;

  &::before {
    right: calc(100% + 30px);
  }

  &::after {
    left: calc(100% + 30px);
  }

  &::before,
  &::after {
    display: block;
    position: absolute;
    content: "";
    width: 100vw;
    height: 2px;
    top: 20px;
    background-color: #68b738;
    z-index: -1;
  }

  @media screen and (min-width: 768px) {
    font-size: $fz-36;
    line-height: $lh-36;
  }
}
