.suite-list {
  @include list-reset;
  position: absolute;
  left: 0;
  right: 0;
  top: 64px;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  transform: translateY(-120%);
  color: #000000;
  display: flex;
  font-family: $font-oswald;
  font-size: 20px;
  font-weight: $fw-regular;
  text-transform: uppercase;
  z-index: -1;

  @media screen and (min-width: 768px) {
    position: static;
    min-height: 60px;
    transform: translateY(0);
    flex-direction: row;
    justify-content: flex-end;
    font-size: 18px;
    column-gap: 5px;
  }

  @media screen and (min-width: 1440px) {
    column-gap: 7px;
    font-size: 20px;
  }
}

.suite-list--color {
  @media screen and (min-width: 768px) {
    color: $secondary-dark-text;
  }

  @media screen and (min-width: 1440px) {
    color: $secondary-text;
  }
}

.suite-list.open {
  transform: translateY(0);
}
