.suite-list {
  position: absolute;
  left: 0;
  right: 0;
  top: 64px;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  transform: translateY(-120%);
  @include list-reset;
  display: flex;
  font-family: $font-oswald;
  font-size: $fz-20;
  font-weight: $fw-regular;
  line-height: normal;
  text-transform: uppercase;
  z-index: -1;

  @media (min-width:768px) and (max-width:1200px) {
    position: static;
    min-height: 60px;
    transform: translateY(0);
    flex-direction: row;
    justify-content: flex-end;
  }

}

.suite-list.open {
  transition: transform 0.8s ease-in-out;
  transform: translateY(0);

}
